<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Working is a Render</title>
</head>
<body>

<h1>Welcome to the text analyzer .Enter Your Text Below</h1>
<form action='/analyze' method="get">
    <textarea name='text' style='margin: 0px; width: 523px; height: 35px;'></textarea>
    <br>
    <input type="checkbox" name="removepunc">remove punctuations <br>
    <input type="checkbox" name="uppercase">Uppercase <br>
    <input type="checkbox" name="newlineremover">New Line Remover <br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover <br>
    <input type="checkbox" name="charcount">Char Count  <br>
    <button>Aanalyze</button>
</form>

</body>
</html>